.link {
  text-decoration: none;
  text-decoration-line: none;
  color: white;
}
.asd {
    width: 4.50rem;
    display: flex;
    flex-direction: column;
    background-color: #292b2c;
    padding: 5px 0px;  
  position: fixed ;
  top: 55px;
}

@media only screen and (max-width: 600px) {
    .asd {
      margin: 0%;
      padding: 0px;
     
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: black;
        position: fixed ;
        bottom: 0px;
        top: auto;
      z-index: 1;
    }
    .asd > * {
        display: block;
        padding-left: 10px;
        margin: 10px 0;
    }
  
    
  }
